@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


:root {
  --primary: rgb(203, 62, 114);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
}

.custom-col {
  color: var(--primary);
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
  background-color: var(--primary) !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: var(--primary) !important;
    color: #222d32;
}
#tutorial_start:hover {
  color: #222d32;
}
.sidebar-toggle {
  text-decoration-line: none !important;
}

.custom-bg {
  background-color: var(--primary);
}

.btn-custom {
  background-color: var(--primary);
  color: snow;
}

.btn-custom:hover, #report_download:hover {
  color: white !important;
  background-color: var(--primary);
  opacity: 0.85;
}
.btn-custom-outline, .buttons-html5  {
  background-color: transparent;
  color: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 5px;
}
.btn-custom-outline:hover, .buttons-html5:hover  {
  color: white !important;
  background-color: var(--primary);
}
.buttons-html5 {
  padding: 2px 7px;
}
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
  border-left-color: var(--primary);
}



.tip-div {
  border-bottom: 1px dotted var(--primary);
  cursor: help;
}
.sup-tip {
  cursor: help;
  color: var(--primary);
}

.main-sidebar, .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-grow: 1;
}
.sidebar {
}
.treeview > a {
  text-decoration-line: none;
}
.treeview-menu {
  padding-bottom: 16px !important;
}

.nav-tabs-custom>.nav-tabs>li>a {
  color:black   ;
}
.nav-tabs-custom>.nav-tabs>li>a:hover {
  color: var(--primary) !important  ;
}
.nav-tabs-custom>.nav-tabs>li>a.active {
  color: var(--primary) !important  ;
  text-decoration: underline;
}
/*
.nav-tabs-custom>.nav-tabs>li.active>a {
  color:green !important  ;
}
*/
.nav-tabs-custom>.nav-tabs>li {
  padding: 5px 15px;
}
.pull-right {
  margin-left: auto;
  margin-right: 15px !important;
  padding-bottom: 10px !important  ;
  font-weight: bold;
}

.control-label {
  margin-bottom: 5px;
}

.navbar {
  padding: 0 !important;
}

/*  
.form-control {
  text-align: center !important;
}
*/

.form-control:disabled, .form-control[readonly] {
    background-color: #aaaaaa;
    cursor: not-allowed;
}
#intPop_c1, #ratioHOC, #incQALYs_c1, #incCost_c1, #eip_threshold, #eip_aversion,
#util1Q1_num, #util1Q2_num, #util1Q3_num, #util1Q4_num, #util1Q5_num,
#qaly1Q1_num, #qaly1Q2_num, #qaly1Q3_num, #qaly1Q4_num, #qaly1Q5_num {
  font-size: 1rem !important;
}


#eip_aversion {
  background-color: lightgray;
  cursor: not-allowed;
}

.shiny-options-group {
  margin-left: 8px;
}

.pretty.p-switch input:checked~.state.p-warning:before {
    border-color: #f0ad4e;
    border-top-color: var(--primary);
    border-right-color: var(--primary);
    border-bottom-color: var(--primary);
    border-left-color: var(--primary);
}
.pretty input:checked~.state.p-warning label:after, .pretty.p-toggle .state.p-warning label:after {
    background-color: var(--primary) !important;
}
^

#qaly1Q1-label, #qaly1Q5-label, #util1Q1-label, #util1Q5-label {
  white-space: nowrap !important;
}

.no-padding  .shiny-input-container {
  padding: 0  5px !important;
}
.no-padding   .form-control {
  padding: 3px  2px !important;
}

.no-lab-sliders-group .irs-min, .no-lab-sliders-group .irs-max, .no-lab-sliders-group .irs-single {
  display:none;
}

#prev-sliders-group .control-label {
  margin-bottom: 5px;
}
#prev-sliders-group .irs--shiny {
  height: 20px;
}
#prev-sliders-group .irs--shiny {
  top: 0;
}
#prev-sliders-group .irs-handle {
  top: -30%;
}
#prev-sliders-group .irs-line {
  top: 0; 
}
#prev-sliders-group .irs-bar {
  top: 0; 
}
#prev-sliders-group .shiny-input-container {
  padding-top: 8px;
}
.pretty .state label:after, .pretty .state label:before {
  calc((0% - (100% - 2em)) - 200%);
}

.irs-disable-mask {
  cursor: not-allowed;
}
#elig_pop_text {
  margin-bottom: 5px;
}


#util-sliders-group .control-label {
  margin-bottom: 0;
}


.tri-marker::before { 
  content: "";
  border-color: transparent gray;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: inline-block;
  height: 0;
  width: 0;
  left: -0.5em;
  position: relative;
}





.modal-dialog {
  position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

table.dataTable {
  border-collapse: separate !important;
  font-size: 0.8em;
  line-height: 0.9;
  overflow-x: auto;
}
table.dataTable tbody th, 
table.dataTable tbody td {
  padding: 8px 8px;
}

.logo {
  padding:0 !important;
  height: 54px !important;
}

#shiny-notification-panel {
  bottom: 20px;
  right: 20px;
}

.progress-bar {
  background-color: var(--primary);
}
.progress {
  background-color: snow;
}


.skin-blue .sidebar a {
  color: white !important;
}
.skin-blue .sidebar a:hover {
  color: var(--primary) !important;
}

.selectize-control {
  margin-bottom: 0;
}

.content-wrapper {
  min-height: 0;
}

.selectize-dropdown .active {
  background-color: var(--primary) !important;
  color: white !important;
}




/* PROGRESS BAR */
#landing-div {
  opacity: 1;
  transition: opacity 1s ease;
}
#progress-circle {
  position: absolute !important;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  opacity: 0.75;
}
.progressbar-text {
  left: 50%; 
  top: 110% !important;
  bottom: 50px !important; 
  margin: 0px; 
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: var(--primary) !important;
}

.cell {
  flex-basis: 10%;
  display: flex;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}


.cell .image {
  width: 100%;
}


.irs--shiny .irs-bar {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  background: var(--primary);
}
.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
  background-color: var(--primary);
}


.modal-dialog {
  left: 50vw !important;
  top: 10vh;
  transform: translate(-50%,0) !important;
  padding-bottom: 50px;
}

  /*border: 1px solid lightgray;*/
.equity-table td {
  padding: 5px 5px;
}
.equity-table tr {
}

#intPop_c1, #incQALYs_c1, #incCost_c1,
#util1Q1_num, #util1Q2_num, #util1Q3_num, #util1Q4_num, #util1Q5_num, 
#qaly1Q1_num, #qaly1Q2_num, #qaly1Q3_num, #qaly1Q4_num, #qaly1Q5_num, 
#ratioHOC {
  text-align: center !important;
  
}

#eip_threshold, #eip_aversion {
  background-color: white !important;
  padding: 5px 0;
  border: none;
  text-align: center !important;
}

#eip_threshold, #eip_aversion {
  padding:0;
  
}

.btn-custom-outline {
  padding: 0px 0px !important;
  height: 25px;
  width: 25px;
  
}

table {
  border-collapse: collapse;
}

.self-building-square-spinner {
  margin: 0 auto;
}

.shinybusy-busy::before {
  content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF90;
    backdrop-filter: blur(0.1rem);
}
.shinybusy-busy::after {
  content: "Report is being generated. Please wait..";
    position: absolute;
    text-align: center;
    bottom: -50px;
}


/*   tooltip tweak to fit longer text in */
.tooltip-inner {
    max-width: 40ch; 
}